
{% extends 'file.html' %}        
{% block ajouter %}
<br>
<br>
<br>
<br>

<table id="visacarte">

        {% for key, value in data.items() %}
            <tr>
                <th>{{key}}</th>
                
                <td>
                    {{value}}
                </td>
            </tr>
    {% endfor %}
    <tr>
        <th>Valeur du transfert TTC</th>
        <td>
            {{max_valu}}
            </td>
   
    <tr>
        <form method="post">
            <script src="https://checkout.stripe.com/checkout.js" 
                    class="stripe-button"
                    data-key="{{ key }}"
                    data-name="Gabontransmoney"
                    data-description="transfert d'argent en securité"
                    data-amount="{{montantTransfere}}"
                    data-locale="auto"
                    data-currency = "EUR">
            </script>
        </form>
    </tr>
</table>

<br>
<br>
<br>
<br>


{% endblock %}