
{% extends 'file.html' %}        
{% block ajouter %}
<br>
<br>
<br>
<br>
<form action="/charge?ammount={{max_valu*100}}" method="POST">

<table id="visacarte">

        {% for key, value in data.items() %}
            <tr>
                <th>{{key}}</th>
                
                <td>
                    {{value}}
                </td>
            </tr>
    {% endfor %}
    <tr>
        <th>Valeur du transfert TTC</th>
        <td><input name="ammount_money" value="{{max_valu}}">
            </td>
   
    <tr>
            <div style="display: flex; align-items: center; flex-direction: column;
            ">
                <h2>Client email :</h2>
                <input type="email">
            </div>
            <br>
            <br>
            <script src="https://checkout.stripe.com/checkout.js" 
                    class="stripe-button"
                    data-name="Gabontransmoney"
                    data-description="Transfert d'argent tout le temps et en toute securite"
                    data-key="{{ key }}"
                    data-amount="{{max_valu * 100}}"
                    data-locale="auto"
                    data-currency="eur"
                    >
            </script>

    </tr>
</table>
        </form>
<br>
<br>
<br>
<br>

{% endblock %}